// @import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";
@import "base/margins";

@import "components/button";
@import "components/card";
@import "components/productcard";
@import "components/form";
@import "components/slider-navigation";
@import "components/modal";
@import "components/infobox";
@import "components/dividers";
@import "components/searchbox";


// @import "layout/footer";
@import "layout/header";
@import "layout/hero";
@import "layout/newsletter";
@import "layout/footer";
@import "layout/brandslide";
@import "layout/table";
@import "layout/socials";

@import "pages/home";
@import "pages/about";
@import "pages/contact";
@import "pages/products";
@import "pages/productdetail";
@import "pages/eventdetail";
@import "pages/album";
@import "pages/badmintoncup";