#course-details {
    .course-block {
        margin-bottom: 4rem;

        p {
            margin-bottom: 2rem;
            color: $color-dark-gray;
            font-weight: 300;
            font-size: 2rem;
            line-height: 1.7;
        }

        .primary-title {
            margin-bottom: 1.6rem;
        }
    }

    .image-col {
        position: relative;
        z-index: -1;

        .img-box {
            position: relative;
            position: sticky;
            top: 4rem;
            padding-top: 2rem;

            .svg-img {

                // transform: rotate(270deg);
                position: absolute;


                width: 85%;
                top: 50%;
                transform: translateY(-50%);
                right: 35%;
                z-index: -1;
            }


            .course-img {
                border-radius: 2rem;
            }
        }

    }
}


#curriculum {

    .accord-box {
        margin-top: 4rem;
    }
}

#testemonials {
    .testemonial-container {
        padding: 4rem 0;


        .bold-title {
            color: $color-medium-black;
        }
    }

    .apply-box {
        background: $primary-gradient;
        border-radius: 4rem;
        padding: 4rem;
        color: $color-white;
        display: flex;
        flex-direction: column;

        p {
            color: $color-medium-white;
            margin-bottom: 6rem;
        }


    }
}