#home-about {


    .services-container {
        display: flex;
        gap: 4.4rem;
        flex-wrap: wrap;

        .service-box {
            padding: 4.6rem;
            border-radius: 3.4rem;
            background-color: $color-medium-white;
            // flex: 1;
            flex-basis: calc(50% - 4.4rem);
            flex-grow: 1;

            display: flex;
            gap: 2.4rem;
            flex-direction: column;
            justify-content: space-between;

            img {
                width: 4rem;
            }

            &.single-row-box {
                flex-direction: row-reverse;
                align-items: center;

                img {
                    width: 8rem;
                }
            }
        }
    }


}

#home-courses {
    .courses-box {
        width: 100%;
        display: flex;
        gap: 3.2rem;

        .course-card {
            flex: 1;
        }
    }
}

#home-message {
    .message-head {
        display: flex;
        gap: 2rem;
        justify-content: space-between;

        .messenger-profile {
            width: 10rem;
            aspect-ratio: 1;
            object-fit: cover;
            object-position: top;
            border-radius: 50%;
        }
    }

    .message-col {
        padding-right: 7.4rem;
        border-right: 1px solid $color-light-gray;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .video-container {
        display: flex;
        padding-left: 7.4rem;

        .video-box {
            border-radius: 2.8rem;
            overflow: hidden;
            position: relative;

            video {
                width: 100%;
                display: block;
            }

            .video-overlay {
                position: absolute;
                inset: 0;
                z-index: 2;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 41.27%, #000 100%);
                @include flex-center;
                cursor: pointer;
            }
        }
    }
}