#home-about {


    .services-container {
        display: flex;
        gap: 4.4rem;
        flex-wrap: wrap;

        @include respond(md) {
            gap: 2rem;
        }

        .service-box {
            padding: 4.6rem;

            @include respond(md) {
                padding: 3.2rem;
            }

            border-radius: 3.4rem;
            background-color: $color-medium-white;
            // flex: 1;
            flex-basis: calc(50% - 4.4rem);
            flex-grow: 1;

            display: flex;
            gap: 2.4rem;
            flex-direction: column;
            justify-content: space-between;

            img {
                width: 4rem;
            }

            &.single-row-box {
                flex-direction: row-reverse;
                align-items: center;

                img {
                    width: 8rem;
                }
            }
        }
    }


}

#home-courses {
    .courses-box {
        width: 100%;
        display: flex;
        gap: 3.2rem;

        @include respond(sm) {
            flex-direction: column;
        }

        .course-card {
            flex: 1;
        }

        .apply-box {
            flex: 1;
            border-radius: 2.8rem;
        }
    }
}

#home-message {
    .message-head {
        display: flex;
        gap: 2rem;
        justify-content: space-between;

        @include respond(lg) {
            align-items: center;
        }

        .messenger-profile {
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            object-position: top;
            border-radius: 50%;
        }
    }

    .message-col {
        padding-right: 7.4rem;
        border-right: 1px solid $color-light-gray;

        @include respond(lg) {
            padding-right: inherit;
            border-right: none;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .video-container {
        display: flex;
        padding-left: 7.4rem;

        @include respond(lg) {
            padding-left: 0;
        }

        .video-box {
            border-radius: 2.8rem;
            overflow: hidden;
            position: relative;

            video {
                width: 100%;
                display: block;
            }

            .video-overlay {
                position: absolute;
                inset: 0;
                z-index: 2;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 41.27%, #000 100%);
                @include flex-center;
                cursor: pointer;
            }
        }
    }
}

#home-events {
    background: $color-medium-white;
}

.partners-row {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    @include respond(md) {
        box-shadow: none;
    }

    .partner-box {
        flex-basis: 20%;

        @include respond(lg) {
            flex-basis: 33.33%;
        }

        @include respond(md) {
            flex-basis: 50%;

            &:nth-child(even) {
                background: none !important;
            }
        }

        display: flex;
        flex-direction: column;
        padding: 2.4rem;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:nth-child(even) {
            background: #e5e5e578;
        }

        .partner-logo {
            max-width: 15rem;
            margin-bottom: 2rem;
            margin-top: auto;

            transition: all 0.3s;
        }

        position: relative;
        overflow: hidden;

        .read-more {
            position: absolute;
            bottom: -2rem;
            transition: all 0.3s;
        }

        &:hover {
            .read-more {
                bottom: 1rem;
            }

            &::after {

                transform: translate(0, 0) scale(1.5);
                border-radius: 40%;
                opacity: 1;
            }

            .view-more {

                transform: translate(-50%, -50%);
                opacity: 1;
            }


        }

        @include respond(md) {
            &:hover {
                .view-more {

                    transform: none;
                    opacity: 1;
                }
            }

        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: $primary-gradient;
            transform: translate(150%, 150%) scale(1.5);
            border-radius: 50%;
            transition: all 0.5s ease;
            opacity: 0;

            @include respond(md) {
                display: none;
            }
        }

        .view-more {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
            color: white;
            font-size: 1.6rem;
            letter-spacing: 1px;
            z-index: 2;
            opacity: 0;
            transition: all 0.5s;
            font-weight: 500;

            i {
                margin-left: 5px;
            }

            @include respond(md) {
                position: static;
                color: $color-primary;
                transform: none;
                opacity: 1;
            }
        }

        h4 {
            margin-top: auto;
            text-align: center;
            font-size: 1.6rem;


        }


    }
}