#detail-section {

    .list-col {
        max-width: 45rem;

        @include respond(xxl) {
            max-width: none;
        }
    }

    .title {
        line-height: 1.1;
        font-weight: 600;
        margin-bottom: 1.6rem;
    }

    .date {
        font-size: 1.4rem;
        color: $color-gray;
        margin-bottom: 3.2rem;
        font-weight: 500;

        i {
            margin-right: 5px;
        }

        color: $color-primary;
    }

    img {
        margin-bottom: 2rem;
    }

    p {
        color: $color-dark-gray;
        font-size: 2rem;
        line-height: 1.5;
        margin-bottom: 2rem;
    }

    .details-nav {
        font-size: 1.6rem;
        color: $color-gray;
        margin-bottom: 1.6rem;
        display: flex;
        gap: 5px;

        a {
            text-decoration: none;
            color: $color-primary;

        }

        span {
            max-width: 10rem;
            display: block;
            text-overflow: ellipsis;

            white-space: nowrap;
            overflow: hidden;
        }
    }

    .list-box {
        border: 1px solid #d1d7dc;

        .section-heading {
            font-size: 2rem;
            color: white;
            font-weight: 500;
            letter-spacing: 0.8px;

            background: $color-primary;
            padding: 1.6rem 2.4rem;
            border-bottom: 1px solid #d1d7dc;

        }

        .list-items {
            .list-item {
                display: flex;
                gap: 2rem;
                padding: 1.6rem 2.4rem;

                &:not(:last-child) {
                    border-bottom: 1px solid #d1d7dc;
                }


                .list-image {
                    width: 30%;
                    object-fit: cover;
                    margin-bottom: 0;
                    border-radius: 1rem;
                }

                .list-contents {
                    padding: 5px 0;

                    display: flex;
                    flex-direction: column;


                    .primary-title {
                        font-size: 1.6rem;
                        line-height: 1.2;
                        -webkit-line-clamp: 2;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }

                    .date {
                        font-size: 1.2rem;
                        margin-bottom: 2px;
                        color: $color-gray;
                    }

                    .read-more {
                        width: fit-content;
                        margin-top: auto;

                        img {
                            margin-block: 0;
                        }
                    }
                }


            }
        }
    }
}