*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(xl) {
        // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(lg) {
        // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
}

body {
    overflow-x: hidden;
    font-family: "Manrope", sans-serif;
    letter-spacing: 1.5;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin-bottom: 0;
}

// Hiding increment decrement button on form input number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.container {
    @include respond(sm) {
        padding-inline: 2rem;
    }


    @media screen and (min-width: 1600px) {
        max-width: 1540px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $color-primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $color-primary;
}