.mb- {

    &8 {
        margin-bottom: 0.8rem;
    }

    &16 {
        margin-bottom: 1.6rem;
    }

    &24 {
        margin-bottom: 2.4rem;
    }

    &32 {
        margin-bottom: 3.2rem;
    }

    &40 {
        margin-bottom: 4rem;
    }

    &64 {
        margin-bottom: 6.4rem;
    }

    &72 {
        margin-bottom: 7.2rem;
    }

    &80 {
        margin-bottom: 8rem;
    }
}