.bold {
    font-weight: 800;
}

.m-bold {
    font-weight: 500;
}

.primary-color {
    color: $color-primary;
}

.section-space {
    padding: 15rem 0;

    @include respond(md) {
        padding: 8rem 0;
    }
}

.section-space-sm {
    padding: 8rem 0;

    @include respond(md) {
        padding: 6rem 0;
    }
}

.animate-section {
    transition: transform 1s, opacity 1s;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

.bg-primary-light {
    background: $color-primary-light !important;
}

.bg-secondary-light {
    background: $color-secondary-light !important;
}