#hero {
    height: 100vh;
    background: $hero-gradient;

    @include respond(md) {
        height: auto;
    }

    .hero-container {
        height: 100%;
        padding-top: 15rem;

        .hero-row {
            height: 100%;
            align-items: flex-end;
            overflow: hidden;

            .hero-content-col {
                align-self: center;

                .hero-contents {
                    .hero-heading {
                        font-size: 10rem;
                        font-weight: 300;
                        line-height: 9.2rem;
                        letter-spacing: -2px;

                        span {
                            display: block;

                            &.primary-bold {
                                color: $color-primary;
                                font-weight: 800;
                            }
                        }
                    }


                }

                .hero-tag {
                    display: flex;
                    width: 80%;
                    gap: 2rem;
                    align-items: center;
                }
            }

            .hero-image {
                position: relative;
                margin-bottom: -12rem;

                .hero-png {
                    position: relative;
                    z-index: 2;
                    margin: auto;
                    width: 38rem;
                }

                .hero-svg {
                    position: absolute;
                    z-index: 1;
                    top: 70%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    @include respond(md) {
                        max-width: none;
                        width: 140%;
                    }
                }

                .hero-satellite {
                    position: absolute;
                    background: white;
                    z-index: 3;
                    font-size: 1.3rem;
                    font-weight: 700;
                    line-height: 2.8rem;
                    color: $color-dark-gray;
                    border-radius: 1.4rem;
                    padding: 1rem 2rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    width: 10rem;
                    height: 10rem;

                    img {
                        width: 4.4rem;
                        margin-bottom: 2px;
                    }
                }
            }


        }


    }
}