.primary-button {
    border-radius: 3.6rem;
    border: 2px solid $color-dark-gray;
    display: flex;
    gap: 2.4rem;
    width: fit-content;
    padding: 2.4rem 9rem;
    color: $color-black;
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 2.4rem;

    text-decoration: none;
    transition: all 0.3s;

    img {
        transition: all 0.3s;
    }

    &:hover {
        color: $color-primary;

        img {
            transform: translateX(1rem);
        }
    }
}

.secondary-button {
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 2.4rem;

    border: 2px solid white;
    display: flex;
    gap: 15px;
    text-decoration: none;
    color: white;
    width: fit-content;
    padding: 1.4rem 2.2rem;
    border-radius: 3.8rem;

    @include respond(xxl) {
        font-size: 1.6rem;
        padding: 1.4rem 2rem;
    }

    img {
        @include respond(xxl) {
            width: 1.5rem;
        }
    }


    color: white;

    img {
        transition: all 0.3s;
    }

    &:hover {
        color: white;

        img {
            transform: translateX(5px);
        }

    }
}

.form-button {
    background: $color-primary;
    color: white;
    border: none;
    font-weight: 500;

    display: flex;
    align-items: center;

    &:hover {
        color: white;
    }
}