.course-card {
    border-radius: 2.8rem;
    overflow: hidden;
    position: relative;
    aspect-ratio: 10/14;
    padding: 4rem;
    // background: linear-gradient(180deg, #AFAFAF 0%, #222 100%);
    display: flex;

    &.content-bottom {
        align-items: flex-end;

        .course-contents {
            margin-left: 20%;

            @include respond(xxl) {
                margin-left: 15%;
            }

            @include respond(xl) {
                margin-left: 0;
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 2;
        mix-blend-mode: hard-light;
    }

    &.bw-overlay {
        &::after {
            background: linear-gradient(180deg, #afafaf 0%, #222 100%);
        }
    }

    &.primary-overlay {
        &::after {
            background: linear-gradient(180deg, #ffe1f0 0%, #ff99cd 100%);
        }
    }

    .card-bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &.primary-overlay {
        .course-contents {
            color: $color-primary;

            .button {
                color: $color-primary;
                border-color: $color-primary;

                img {
                    filter: brightness(0) saturate(100%) invert(32%) sepia(98%) saturate(673%) hue-rotate(285deg) brightness(88%) contrast(87%);
                }
            }
        }
    }

    .course-contents {
        position: relative;
        z-index: 3;
        margin: 6rem 0;

        color: white;
        line-height: 3.8rem;



        span {
            font-size: 2rem;
            font-weight: 500;
        }

        .course-title {
            font-size: 3.4rem;
            font-weight: 800;
            text-transform: uppercase;

            @include respond(xxl) {
                font-size: 2.8rem;
            }
        }
    }
}

.primary-card {
    text-decoration: none;



    img {
        border-radius: 1.8rem;
        aspect-ratio: 16/10;
        object-fit: cover;
        margin-bottom: 2.4rem;
    }

    .tag {
        color: $color-secondary;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 3.8rem;
        margin-bottom: 0.8rem;
    }

    &.event-variant {
        .tag {
            color: $color-primary;
        }
    }

    &:hover {
        .primary-title {
            color: $color-primary;
        }
    }



    .date {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 3.8rem;
        color: $color-gray;
    }
}

#gallery {
    .primary-card-box {
        margin-bottom: 2rem;
    }

    .primary-card {
        img {
            margin-bottom: 1rem;
        }

    }

}