.team-card {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    overflow: hidden;

    .team-profile {
        aspect-ratio: 1;
        object-position: top;
        object-fit: cover;
    }

    .team-info {
        padding: 1.6rem 1.8rem;

        .team-name {
            font-size: 2rem;
            color: $color-medium-black;
            letter-spacing: 1px;
            font-weight: 600;
        }

        .team-position {
            font-size: 1.4rem;
            font-weight: 500;
            color: $color-light-gray;
            letter-spacing: 1px;
        }
    }
}