$color-primary: #BA427F;
$color-secondary: #f9a81d;
$color-primary-light: #FFF8FB;
$color-secondary-light: #FFF8E5;
$color-complementary: #F54F54;
$color-geyser: #CBD5DC;

$color-black: #0A0A0A;
$color-medium-black: #171717;
$color-light-black: #262626;
$color-dark-gray: #515050;
$color-gray: #737373;
$color-light-gray: #CACACA;
$color-dark-white: #E5E5E5;
$color-medium-white: #FBFBFB;
$color-white: #FAFAFA;

$hero-gradient: linear-gradient(261deg, #FFF8E5 1.74%, #FFF7FB 89.66%);
$primary-gradient: linear-gradient(220deg, $color-secondary 1.74%, $color-primary 89.66%);