$color-primary: #BA427F;
$color-secodary: #f9a81d;
$color-secodary-dark: #063034;
$color-complementary: #F54F54;
$color-geyser: #CBD5DC;

$color-black: #0A0A0A;
$color-medium-black: #171717;
$color-light-black: #262626;
$color-dark-gray: #525252;
$color-gray: #737373;
$color-light-gray: #D4D4D4;
$color-dark-white: #E5E5E5;
$color-medium-white: #F5F5F5;
$color-white: #FAFAFA;

$hero-gradient: linear-gradient(261deg, #FFF8E5 1.74%, #FFF7FB 89.66%);